h1 로그인 하기
.logindivider
.logindiv
	.leftdiv = image_tag "userlogin.PNG"
	.rightdiv  = image_tag "clientlogin.PNG"

/= image_tag "userlogin.PNG", class: "userloginimg"
/= image_tag "clientlogin.PNG", class: "clientloginimg" 