/test 용 페이지 입니다. 삭제해주세요 /

/.wrapper
/	.left
/		.cover_img
/			=image_tag  "http://dummyimage.com/800x400/cfcfcf/ffffff&text=cover pic"
/			.name
/			p UC Berkeley 홍길동
/			.profile_img
/			=image_tag "http://dummyimage.com/150x150/cfcfcf/ffffff&text=profile pic"
/	.right 

.container-fluid
	.row-fluid
		.span8
			
		.span4
			