// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.articlebox{
	
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	width: 900px;
	height: 300px;
	border: 1px solid #cfcfcf;

	.left{
		float: left;
		width: 400px;
	}
	
	.right{
		float: right;
		width: 500px;

		p#date{
			float: right;
			margin: 10px 30px 10px 0;
		}

		h1#title{
			margin: 10px;
			font-size: 40px;
			margin-top: 30px;

		}

		p#contents{
			margin: 60px 10px 0 10px;
			font-size: 20px;
			line-height: 130%

		}
	}

	a{
		color: #000;
	}

	a:hover{
		text-decoration: none;
		color: #4aabbf;
	}

}

///----------------------------------------------

.container#article-wrapper{
	img{
		width: 960px;
	}

	.span12#article-show{
		width: 960px;
		background-color: #ebebeb;

		.teacher_name_tag{
			h1.title{
					margin-top: 30px;
					margin-bottom: 50px;
					text-align: left;
					font-size: 40px;
				}
			}

			.teacher_name_tag{
				width: 960px;
				float: right;
				h1.title{
					line-height :130%;
					margin-left: 20px;
					margin-right:20px;
				}
			}

			.teacher_img {
				z-index: 20;
				margin-left: 5%;
				margin-top: -10%;
				width: 164px;			
				.teacherimg {
					border: 7px solid white;
				}
			}

			.name{
				margin-top: -82px;
				width: 410px;
				height: 82px;
				//border: 1px solid black;
				float: right;

				.schoollogo{
					width: 82px;
					float:left;
					//margin-top: -45px;
				}
				p#major{
					margin-top: 8px;
					margin-left: 106px;
					font-size: 16px;
				}
				p#name{
					margin-top: 24px;
					margin-left: 106px;
					font-size: 32px;
					font-weight: bold;	
				}
			}

			.line {
				width: 90%;
				margin-left: auto;
				margin-right: auto;
				margin-top: 25px;
				display: block;
				height: 2px;
				background-color: white;
			}
		}

		.content{
			margin-top: 25px;
			margin-bottom: 8px;
			width: 960px;
			margin-left: 20px;
		}
}