// Place all the styles related to the dayclasses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.span9#dayclass-form{
	width: 770px;
}

.span5#daylass-formhint{
	width: 380px;
}

#dayclass-hero{
	padding: 30 10 10 30;
}

#title-form-size{
	width: 600px;
	height: 30px;
}

#form-size-text{
	width: 600px;
	height: 200px;
}

#etc-form-size{
	height: 30px;
}

#etc-form-date{
	width: 100px;
	height: 30px;
}

.from-date{
	overflow: hidden;
	// height: 30px;
	float: left;
}
.dayfrom{
	overflow: hidden;
}

.dayend{
	overflow: hidden;
}
.end-date{
	overflow: hidden;
	// height: 30px;	
}

.form-date{
	overflow: hidden;
}	

.tail-date{
	float: left;
}

#form-date-float{
	float: left;
}

#form-float{
	float: left;
	.controls{
		margin-left: 10px;
	}
}

.form-end-float{
	.controls{
		margin-left: 20px;
	}
}

#fee-form{
	float: left;
}

#min-form{
	margin-bottom: 5px;
	float: left;
}

#max-form{
	float: left;	
}

.dayclass-fee{
	overflow: hidden;
}

.dayclass-min{
	overflow: hidden;
}

.dayclass-max{
	overflow: hidden;
}

.tail-label{
	padding-left: 310px;
	font-size: 14px;
}

.tail-date{
	font-size: 14px;
	margin-left: 5px;
}
.tail{
	font-size: 14px;
	margin-left: 575px;
}

#etc-form-place{
	width: 500px;
	height: 30px;
}

.dayclass-form{
	label{
		font-weight: bold;
	}
}