//------------ sessions/new
.session-new{
	height: 600px;

	.btnregister{
		padding: 10px 30px;
		font-size: 17px;
	}

	.btnlogin{
		padding: 10px 30px;
		font-size: 17px;
	}
	.line-button{
		margin-left: -300px;
		margin-bottom: 20px;
		width: 100%;
		height: 1px;
		display: block;
		background-color: #cfcfcf;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
	}
	.line{
		display: block;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
		width: 100%;
		height: 1px;
		background-color: #cfcfcf;
		}
	form.form-horizontal{
		margin-top: 30px;
		margin-left: 300px;
	}

	#login_input{
		height: 20px;
	}

	.login-forms{

		.login-image{
			margin-top: 10px;
			margin-bottom: 10px;
			.centerimg{
				margin-left: auto;
				margin-right: auto;
				display: block;
			}
		}	
		
		h2#slogan{
			text-align: center;
		}

		.form-inputs{
			//margin-left: auto;
			//margin-right:auto;
			//width: 180px;
			text-align: center;
			margin-top: 10px;
			margin-bottom: 20px;
		}
	}
	.register{
		float: left;
		margin-left: 80px;
	}
}

//------------

//------------ registration/new
.user-signup{
	.form-inputs{
		margin-left: 20px;
	}
	#sessionsheight{
		height: 20px;
	}	
	.form-horizontal{
		margin-top: 40px;
	}

	h1#head{
		margin-left: 20px;
	}

	p#head2{
		margin-left: 20px;
	}
	.rightimg{
		margin-top: 30px;
		margin-left: 100px;
	}

	.divider{
		width: 100%;
		margin-top: 20px;
		margin-bottom: 10px;
		height: 1px;
		background-color: #cfcfcf;
		margin-left: 5px;
	}
	select.gender{
		width: 90px;
	}
	select.birthday{
		text-align: right;
		width: 70px;
		float: left;
		margin-right: 10px;
	}

	#phonenumber{
		width: 90px;
		height: 20px;
		float: left;
	}
	#phonenumber-select{
		width: 90px;
		height: 30px;
		float: left;
	}
	.hipen{
		float: left;
		margin-left: 5px;
		margin-right: 5px;
	}

	.signup-btn{
		padding: 10 20;
		font-size: 17px;
		font-weight: bold;
		margin-left: 400px;
	}

	textarea.policy{
		width: 880px;
		background-color: #fff;
		font-size: 14px;
	}

	#unit-policy{
		background-color: #eaeaea;
		padding: 20px;
	}
}

.agree{
	.controls{
		margin-top: 10px;
		margin-left: 20px;
	}
}

//------------

.alert.alert-success#required{
	margin-bottom: 10px;
}
p#policy{
	font-size: 18px;
	font-weight: bold;
}
#new_user{
	margin-top: 10px;
}


// ------------------ prelogin

.logindivider{
	width:100%;
	height: 1px;
	background-color: #cfcfcf;
	margin-bottom: 10px
}

.logindiv{
	overflow: hidden;
	padding: 10 0 10 0;
	width:750px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	display: block;

	.leftdiv{
		width: 360px;
		float: left;
		opacity: 0.6;
		filter: alpha(opacity=60);
	}
	.leftdiv:hover{
		opacity:1.0;
		filter:alpha(opacity=100);
	}

	.rightdiv{
		width: 360px;
		float: right;
		opacity: 0.6;
		filter: alpha(opacity=60);
	}

	.rightdiv:hover{
		opacity:1.0;
		filter:alpha(opacity=100);
	}
}

#help{
	font-size: 12px;
	font-style: italic;
	margin-left: 100px;
}

.regi-scroll{
	padding: 10px;
	width: 850px;
	height: 150px;
	border: 1px solid #cfcfcf;
	background-color: white;
	overflow-x: hidden;
	overflow-y: auto;
}