//------------ sessions/new
.session-new{

	form.form-horizontal{
	margin-top: 30px;
	margin-left: 390px;
	}

	#login_input{
		height: 30px;
	}

	.login-forms{
	
		.line{
			display: block;
			margin-right: auto;
			margin-left: auto;
			text-align: center;
			width: 100%;
			height: 1px;
			background-color: #cfcfcf;
		}

		.login-image{
			
			margin-top: 10px;
			margin-bottom: 10px;

			.centerimg{
				
				margin-left: auto;
				margin-right: auto;
				display: block;
			}
		}	
		
		h2#slogan{
			
			text-align: center;
		
		}

		.form-inputs{
			//margin-left: auto;
			//margin-right:auto;
			//width: 180px;
			text-align: center;
			margin-top: 10px;
			margin-bottom: 20px;

		}

		.factions{
			margin-left: 100px;
		}
	}

	.register{
		float: left;
		margin-left: 100px;
	}
}

//------------

//------------ registration/new
.user-signup{
	.form-inputs{
		margin-left: 100px;
	}
	#sessionsheight{
		height: 30px;
	}	
	.form-horizontal{
		margin-top: 40px;
	}

	h1#head{
		margin-left: 20px;
	}

	p#head2{
		margin-left: 20px;
	}
	.rightimg{
		margin-top: 30px;
		margin-left: 100px;
	}

	.divider{
		width: 100%;
		margin-top: 20px;
		margin-bottom: 10px;
		height: 1px;
		background-color: #cfcfcf;
		margin-left: 5px;
	}
	select.gender{
		width: 90px;
	}
	select.birthday{
		text-align: right;
		width: 70px;
		float: left;
		margin-right: 10px;
	}

	#phonenumber{
		width: 90px;
		height: 30px;
		float: left;
	}
	.hipen{
		float: left;
		margin-left: 5px;
		margin-right: 5px;
	}

	.signup-btn{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	textarea.policy{
		width: 880px;
		background-color: #fff;
		font-size: 14px;
	}

	#unit-policy{
		background-color: #eaeaea;
		padding: 20 20 20 20;
	}
}

//------------